.dashboardContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.btnContainer{
  padding: 0px;
  margin-top: 5px;
}

.dashBoardBtn{
  padding: 10px;
  margin: 5px;
}