.loginContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.loginBtn{
  margin-left: 10px;
  padding: 5px;
}

.loginBtn:hover{
  margin-left: 10px;
  padding: 5px;
  background-color: rgb(179, 177, 177);
}