.navBar {
  display: inline
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.logOutBtn {
  margin-left: 10px;
  border: none;
  text-align: center;
  background-color: #e7e7e7; color: black;
  font-size: 16px;
}

.logOutBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}